<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Mike Lawson's Linktree</title>
  <link href="static/lt-style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<img src = "static/images/headshot.jpg">
  <h1>Mike Lawson</h1>
  <h2>Socials</h2>
  <ul>
    <li>
      <a href="https://twitter.com/tacotime81">Twitter</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/micheallawson1/">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/mikelawson03">GitHub</a>
    </li>
    
  </ul>
  <h2>Projects</h2>
  <ul>
    <li>
      <a href="https://mikelawson03.github.io/stitch-calc/">Stitch Calculator</a>
    </li>
    <li>
      <a href="https://dnd-random-monster-gen.onrender.com/">D&D Monster Generator</a>
    </li>
  </ul>  
</body>
</html>