<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/pf-style.css" rel="stylesheet" type="text/css">
    <title>{name}'s Portfolio</title>
</head>
<body>
  <h1>{name} - Portfolio</h1>
  
  <h2>Day 27: Character Creator</h2>
  <p>Allows user to enter a name and select a character class. Generates HP and ability scores for chosen class. Uses base D&D classes</p>
  <p>
    <a href="https://replit.com/@mikelawson03/Day-27-100-Days-of-Python-Character-Creator">
      <img src="static/images/day_27.png">
    </a>
  </p>
  
  <h2>Day 44: Bingo Card</h2>
  <p>Generates Bingo card, asks for user to input selected number, checks number against card, and changes matches to Xs. Once all numbers are Xs, it counts as a win</p>
  <p>
    <a href="https://replit.com/@mikelawson03/Day-44-100-Days-of-Python-Bingo-Card-v2">
      <img src="static/images/bingo.png">
    </a>
  </p>
  
  <h2>Day 46: Beast Dictionary</h2>
  <p>Creates a definitely not copyright-infringing dictionary of multiple beasts based on user input</p>
  <p>
    <a href="https://replit.com/@mikelawson03/Day-46-100-Days-of-Python-2D-Beast-Dictionary">
      <img src="static/images/day46.png">
    </a>
  </p>
  
  <h2>Day 65: Character Builder</h2>
  <p>Uses Python classes to generate characters for game. No user input at this time.</p>
  <p>
    <a href="https://replit.com/@mikelawson03/Day-65-100-Days-of-Python-Character-Builder">
      <img src="static/images/day65.png">
    </a>
  </p>
  
  <h2>Day 68: Guess Who</h2>
  <p>Not really guess who, but a program that lets you input a person's name to display an image of them.</p>
  <p>
    <a href="https://replit.com/@mikelawson03/Day-68-100-Days-Tkinter-Hide-and-Remove">
      <img src="static/images/day67.png">
    </a>
  </p>
  
</body>
</html>