<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="../static/style.css" type="text/css" rel="stylesheet">
</head>
<body class="{{theme}}">
    <div class="header">
        <div style="display: inline; margin-right: 180px;" ><a href="/">Home</a></div>
        <div style="display: inline;">{% include "components/select-theme.html" %}</div>
    </div>
    <div class="blog">
        <h1>{{title}}</h1>
        <h2>{{date}}</h2>
        {{content | safe}}
    </div>
</body>
</html>